header {
    background-color: transparent;
    width: 90%;
    transition: background-color 0.4s, padding-top 0.1s, box-shadow 0.8s;
}

header.rolar {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.8);   
    width: 90%;
    box-shadow: 0 4px 8px var(--blue);
    z-index: 4;
    transition: 0.3s ease;
}

.navigation-social{
    align-items: center;
    padding-right: 5px;
}
   
